{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title>{{ SITE_NAME }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="{% static 'major/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{% static 'major/css/style.css' %}" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="{% static 'major/css/morris.css' %}" type="text/css"/>
<!-- Graph CSS -->
<link href="{% static 'major/css/font-awesome.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'major/css/jquery-ui.css' %}">
<!-- jQuery -->
<script src="{% static 'major/js/jquery-2.1.4.min.js' %}"></script>
<!-- //jQuery -->
<link href='{% static 'major/css/font-self.css' %}' rel='stylesheet' type='text/css'/>
<link href='{% static 'major/css/font-self2.css' %}' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="{% static 'major/css/icon-font.min.css' %}" type='text/css' />
<!-- //lined-icons -->
</head> 
<body>
	<div class="main-wthree">
	<div class="container">
	<div class="sin-w3-agile">
		<h2>登录{{ SITE_NAME }}</h2>
		<form method="post" action="{% url 'userlogin' %}" >
            {% csrf_token %}
			<div class="username">
				<span class="username">用户名：</span>
				{{ login_form.username }}
				<div class="clearfix"></div>
			</div>
			<div class="password-agileits">
				<span class="username">密码：</span>
				{{ login_form.user_password }}
				<div class="clearfix"></div>
			</div>
			<div class="rem-for-agile">
				<input type="checkbox" name="remember" class="remember">记住我<br>
				<a href="#">忘记密码</a><br>
			</div>
			<div class="login-w3">
					<input type="submit" class="login" value="登录">
			</div>
			<div class="clearfix"></div>
		</form>
				<div class="back">
					<a href="/register/">注册</a>
				</div>
				<div class="footer">
					<p>&copy; 2016 AutoOpe . All Rights Reserved | Design by <a href="#">xiao O</a></p>
				</div>
	</div>
	</div>
	</div>
</body>
</html>